.row
  .jumbotron
    %h1 ResumeBot
    .col-lg-6.right_aside
      = link_to image_tag("robot2.png", alt: "Resume Bot", class: "img-rounded")
      .row
        .well.col-lg-12.right-aside
          %h2
.row
  .col-lg-4.well.right-aside.slogan
    %h1 Your Resume
    %h2 Automated
    %h3= "." * 80
    %h3= "." * 70
    %h3= "." * 60
    %h3= "." * 50
    %h3= "." * 40
