<div class="well">
  <h2 class= "profileInfo"> Job Search By Keyword </h2>
  <div class="form-search">
    <%= form_tag job_search_path, method: :get do %>
      <%= label_tag "Keyword Search" %>
      <%= text_field_tag :qry %>
      <%= submit_tag "Search", class: "btn btn-danger" %>
    <% end %>
  </div>
</div>


<%unless @results.nil? || @results.count == 0%>
    <%=  "Errors: #{debug @results.cb_response.errors} <p><p>" unless @results.cb_response.errors.nil?%>

    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Location</th>
        <tr>

        <%@results.each do | job |%>
            <%= render :partial => 'search_result', :locals => {:job => job} %>
        <%end%>
    </table>
<%else%>
    <div>No jobs found. Try broadening your search.</div>
<%end%>
