.well.col-lg-12
  .resumeForm
    %h1 Create Your Resume
    %h2 Choose Elements to Add to Resume
    %br
    %p.sectionEnd
      %h3 Name Your Resume
      %br
      =form_tag resumes_create_path(params), method: :post do
        =label_tag :first_name, "Resume Name"
        = text_field_tag :title, "", placeholder: "Resume Title", class: "form-control"

        //Skills
        %h3 Skills
        %br
        - for skill in @master.skills
          %p.skill
            = check_box_tag "skill_ids[]", skill.id
            = skill.name
        %br
        %br

        //Experience
        %h3 Experience
        %br
        - for experience in @master.experiences
          %p.skill
            = check_box_tag "experience_ids[]", experience.id
            = experience.company_name
        %br
          =button_tag(type: 'submit', :class => 'btn btn-default') do
            Create Resume
        %br

        //Education
        -# %h3 Education
        -# %br
        -# - for education in @master.educations
        -#   %p.skill
        -#     = check_box_tag "experience_ids[]", education.id
        -#     = education.institution
        -# %br
        -# = submit_tag "Add to Resume", class: "btn btn-default"
