.col-lg-3
.well.col-lg-12
  .well.col-lg-12
    .resumeForm
      %h1= @master.first_name + " " + @master.last_name
      %br
      %p.sectionEnd
    .well.col-lg-12.profileInfo
      %h3 Email:
      %p.label.text_label.edit.email= @master.email
      %input.profile{:style => "display: none;", :type => "text", :value => "Press enter after update"}
      %br

      %h3 Phone 1:
      %p.label.text_label.edit.phone_1= @master.phone_1
      %input.profile{:style => "display: none;", :type => "text", :value => "Press enter after update"}
      %br

      -if @master.phone_2.empty?
        %button.btn.btn-default.edit Add Phone
      -else
        %h3 Phone 2:
        %p.label.text_label.edit.phone_2= @master.phone_2
        %input.profile{:style => "display: none;", :type => "text", :value => "Press enter after update"}
      %br

      -if @master.phone_3.empty?
        %button.btn.btn-default.edit Add Phone
      -else
        %h3 Phone 3:
        %p.label.text_label.edit.phone_3= @master.phone_3
        %input.profile{:style => "display: none;", :type => "text", :value => "Press enter after update"}

      %h3 Address:
      %p.label.text_label.edit.address= @master.address
      %input.profile{:style => "display: none;", :type => "text", :value => "Press enter after update"}
      %p.label.text_label.edit.city= @master.city
      %input.profile{:style => "display: none;", :type => "text", :value => "Press enter after update"}
      %p.label.text_label.edit.state= @master.state
      %input.profile{:style => "display: none;", :type => "text", :value => "Press enter after update"}
      %p.label.text_label.edit.postal_code= @master.postal_code
      %input.profile{:style => "display: none;", :type => "text", :value => "Press enter after update"}
      %p
      %p.sectionEnd

      %h2 Skills:
      %br
      -unless @skills.empty?
        %table
          %tbody
            -@skills.each do |skill|
              %tr
                %td.skill_icon
                  = form_tag skill_path(skill), method: :delete do
                    = hidden_field_tag :id, skill.id
                    = button_tag(type: 'submit') do
                      %i.fa.fa-times
                %td.skill= skill.name
                %tr
    .form-inline
      =form_tag skills_create_path, method: :post do
        .well.well-sm
          =text_field_tag :name, "", class: "form-control", :placeholder => "Add New Skill"
          %br
          %br
          =submit_tag "Add Skill", class: "btn btn-default"
          %p
          %p.sectionEnd



    %h2 Work Experience:
    %br
    -unless @experiences.empty?
      %table
        %tbody
          -@experiences.each do |exp|
            %tr
              %td.experience_icon
                = form_tag experience_path(exp), method: :delete do
                  = hidden_field_tag :id, exp.id
                  = button_tag(type: 'submit') do
                    %i.fa.fa-times
              %td.experience
                %h1= exp.company_name + ', ' + exp.position
                %p= exp.summary

            %tr

    .form-inline
      =form_tag experiences_create_path, method: :post do
        .well.well-sm
          .row
            =text_field_tag :company_name, "", class: "form-control", :placeholder => "Company Name"
          .row
            =text_field_tag :position, "", class: "form-control", :placeholder => "Position"
          .row
            =text_area_tag :summary, "", class: "form-control", :placeholder => "Summary"
          .row
            %br
            %h5 Start Date
            =date_select(:start_date, start_year: 1995, use_month_numbers: false,
                                    discard_day: true, include_blank: true)
            %h5 End Date
            =date_select(:end_date, start_year: 1995, use_month_numbers: false,
                                    discard_day: true, include_blank: true)
          %br
          %br
            =submit_tag "Add Experience", class: "btn btn-default"
          %p
          %p.sectionEnd

    %h3 Education:
    %br
    -unless @educations.empty?
      %table
        %tbody
          -@educations.each do |ed|
            %tr
              %td.experience_icon
                = form_tag education_path(ed), method: :delete do
                  = hidden_field_tag :id, ed.id
                  = button_tag(type: 'submit') do
                    %i.fa.fa-times
              %td.experience
                %h1= ed.institution + ', ' + ed.area
                %p= ed.study_type

            %tr

    .form-inline
      =form_tag educations_create_path, method: :post do
        .well.well-sm
          .row
            =text_field_tag :institution, "", class: "form-control", :placeholder => "Institution"
          .row
            =text_field_tag :area, "", class: "form-control", :placeholder => "Area of Study"
          .row
            =text_field_tag :study_type, "", class: "form-control", :placeholder => "Degree / Study Type"
          .row
            =text_field_tag :gpa, "", class: "form-control", :placeholder => "GPA"
          .row
            %br
            %h5 Start Date
            =date_select(:start_date, start_year: 1995, use_month_numbers: false,
                                    discard_day: true, include_blank: true)
            %h5 End Date
            =date_select(:end_date, start_year: 1995, use_month_numbers: false,
                                    discard_day: true, include_blank: true)
          %br
          %br
            =submit_tag "Add Education", class: "btn btn-default"
          %p
          %p.sectionEnd
  .resumeForm
    %h2
      Ready to Create a Resume?
      =link_to "New Resume", new_resume_path
