%body#top.show
  #cv.instaFade
    .mainDetails
      #headshot.quickFade
        %img= link_to image_tag("robot.jpg", alt: "Robot")
      #name
        %h1.quickFade.delayTwo= @resume.first_name + " " + @resume.last_name
        %h2.quickFade.delayThree Robot Coder Ninja
      #contactDetails.quickFade.delayFour
        %ul
          %li
            e:
            %a{:href => @resume.email, :target => "_blank"}=@resume.email
          %li
            w:
            %a{:href => "http://www.bloggs.com"} RobotCoderNinja.com
          %li= "m: " + @resume.phone_1
          %li= @resume.address
          %li= @resume.city.to_s + ", " + @resume.state.to_s + @resume.postal_code.to_s
      .clear
    #mainArea.quickFade.delayFive
      %section
        %article
          .sectionTitle
            %h1 Personal Profile
          .sectionContent
            %p Instant Robot Coder Ninja! Just add RedBull.
        .clear
      %section
        .sectionTitle
          %h1 Work Experience
        .sectionContent
          %article
            %h2 Job Title at Company
            %p.subDetails April 2011 - Present
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.
          %article
            %h2 Job Title at Company
            %p.subDetails Janruary 2007 - March 2011
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.
          %article
            %h2 Job Title at Company
            %p.subDetails October 2004 - December 2006
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.
        .clear
      -unless @resume.skills.empty?
        %section
          .sectionTitle
            %h1 Key Skills
          .sectionContent
            %ul.keySkills
            -@resume.skills.each do |skill|
              %li= skill.name
            %ul.keySkills
          .clear
        %section
          .sectionTitle
            %h1 Education
          .sectionContent
            %article
              %h2 College/University
              %p.subDetails Qualification
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.
            %article
              %h2 College/University
              %p.subDetails Qualification
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.
          .clear
  :javascript
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  :javascript
    var pageTracker = _gat._getTracker("UA-3753241-1");
    pageTracker._initData();
    pageTracker._trackPageview();
