.col-lg-3
.well.col-lg-12
  .well.col-lg-12
    %h1= @resume.first_name + " " + @resume.last_name
  .well.col-lg-12
    %h2 Basic Profile Information
    %p= "-" * 60
    %h3 Email
    %p= @resume.email
    %h3 Phone 1
    %p= @resume.phone_1
    -if @resume.phone_2
      %h3 Phone 2
      %p= @resume.phone_2
    -if @resume.phone_3
      %h3 Phone 3
      %p= @resume.phone_3
    %h3 Address
    %p= @resume.address
    %p= @resume.city + ", " + @resume.state + " " + @resume.postal_code.to_s
    %button{:class => 'btn btn-default'}Update Profile
  .well.col-lg-12
    %h2 Skills
    %p= "-" * 60
    -unless @resume.skills.empty?
      %p= @resume.skills.map { |skill| skill.name }
    %button{:class => 'btn btn-default'}Add Skills
  .well.col-lg-12
    %h2 Experience
    %p= "-" * 60
    -unless @resume.experiences.empty?
      %p= @resume.experiences.map { |exp| exp.company_name }
    %button{:class => 'btn btn-default'}Add Experience
  .well.col-lg-12
    %h2 Education
    %p= "-" * 60
    -unless @resume.educations.empty?
      %p= @resume.educations.map { |education| education.institution }
    %button{:class => 'btn btn-default'}Add Education
